{% extends 'comps.html' %}
{% block main %}
<div class="card-body">
  <h5 class="card-title">Admin page</h5>
    <div class="list-group list-group-flush">
              <a href={{url_for('create_fixtures')}} class="list-group-item list-group-item-action">Create Fixtures</a>
              <a href={{url_for('enter_results')}} class="list-group-item list-group-item-action">Enter Results</a>
              <a href={{url_for('add_news_item')}} class="list-group-item list-group-item-action">Enter News Item</a>
              <a href=# class="list-group-item list-group-item-action">New Season</a>
    </div>
</div>
{% endblock %}