<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <title>Amateur Football Soccer League Dublin Ireland</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='style.css') }}">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
</head>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.3&appId={{fbclient_id}}&autoLogAppEvents=1"></script>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href={{url_for('show_divisions_and_news')}}>Amateur Football League</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
</nav>
<div id="result"></div>
<!--FACEBOOK SIGN IN -->
<script>
window.fbAsyncInit = function() {
FB.init({
  appId      : {{fbclient_id}},

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : {{fbclient_id}},
      cookie     : true,
      xfbml      : true,
      version    : 'v8.0'
    });

    FB.AppEvents.logPageView();

  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<!--<fb:login-button scope="public_profile,email" onlogin="sendTokenToServer();">
</fb:login-button>-->
<div class="col-10 offset-1">
  <div class="card">
    <h5 class="card-title pt-3" align="center">Log In</h5><br><br>
    <div class="fb-login-button" align='center' data-width="" data-size="large" data-button-type="continue_with" data-use-continue-as="true" data-scope="public_profile,email" data-onlogin="sendTokenToServer();" align='center'></div>
    <a href={{url_for('show_divisions_and_news')}} class="btn btn-primary my-4 mx-auto" role="button" align="center">Cancel</a>
  </div>
</div>
</body>

</html>
