<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <title>Amateur Football Soccer League Dublin Ireland</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='style.css') }}">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
</head>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.3&appId={{fbclient_id}}&autoLogAppEvents=1"></script>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href={{url_for('show_divisions')}}>Amateur Football League</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
</nav>
<div id="result"></div>
<!--FACEBOOK SIGN IN -->
<script>
window.fbAsyncInit = function() {
FB.init({
  appId      : {{fbclient_id}},
  cookie     : true,  // enable cookies to allow the server to access
                      // the session
  xfbml      : true,  // parse social plugins on this page
  version    : 'v3.3' // use version 2.2
});
};
// Load the SDK asynchronously
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
// Here we run a very simple test of the Graph API after login is
// successful.  See statusChangeCallback() for when this call is made.
function sendTokenToServer() {
  var access_token = FB.getAuthResponse()['accessToken'];
  console.log(access_token)
  console.log('Welcome!  Fetching your information.... ');
  FB.api('/me', function(response) {
    console.log('Successful login for: ' + response.name);
   $.ajax({
    type: 'POST',
    url: '/fbconnect?state={{STATE}}',
    processData: false,
    data: access_token,
    contentType: 'application/octet-stream; charset=utf-8',
    success: function(result) {
      // Handle or verify the server response if necessary.
      if (result) {
        $('.fb-login-button').attr('style', 'display: none');
        $('.card').attr('style', 'display: none');
        $('#result').html('<div class = "col-10 offset-1"><div class="card px-4 py-4"><h5 class= "text-success">Login Successful!</h5></br>'+ result + '</br><h6 class="text-muted">Redirecting...</h6></div></div>')
       setTimeout(function() {
        window.location.href = "/";
      }, 4000);
    } else {
      $('#result').html('Failed to make a server-side call. Check your configuration and console.');
       }
    }
});
  });
}
</script>
<!--<fb:login-button scope="public_profile,email" onlogin="sendTokenToServer();">
</fb:login-button>-->
<div class="col-10 offset-1">
  <div class="card">
    <h5 class="card-title pt-3" align="center">Log In</h5><br><br>
    <div class="fb-login-button" align='center' data-width="" data-size="large" data-button-type="continue_with" data-use-continue-as="true" data-scope="public_profile,email" data-onlogin="sendTokenToServer();" align='center'></div>
    <a href={{url_for('show_divisions')}} class="btn btn-primary my-4 mx-auto" role="button" align="center">Cancel</a>
  </div>
</div>
</body>

</html>
