{% extends 'comps.html' %}

{% block main %}
<div class="card-body">
  <div class="row">
    <div class="col-4 offset-1">
      <h5 class="card-title">Referees</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-4 offset-1">
    <div class="list-group list-group-flush">
      {% for r in referees %}
        <p class="list-group-item list-group-item-action">{{r.name}}</p>
      {% endfor %}
    </div>
  </div>
  <div class="col-4">
    <div class="list-group list-group-flush">
      {% for r in referees %}
        <p class="list-group-item list-group-item-action">{{r.phone}}</p>
      {% endfor %}
    </div>
  </div>
  </div>
  <div class="col">
    <a href={{url_for('show_divisions_and_news')}} class="btn btn-primary" role="button">Back</a>
  </div>
</div>
{% endblock %}