{% extends 'comps.html' %}

{% block main %}
<div class="card-body">
  <div class="row">
    <div class="col-4 offset-1">
      <h5 class="card-title">Divisions</h5>
      <div class="list-group list-group-flush">
        {% for d in comps %}
        <a href={{url_for("show_teams", comp_name = d.name)}} class="list-group-item list-group-item-action">{{d.name}}</a>
        {% endfor %}
      </div>
      </div>
      <div class="col-7">
        <h5 class="card-title">{{comp.name}}</h5>
        <table class="table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col">P</th>
              <th scope="col">W</th>
              <th scope="col">D</th>
              <th scope="col">L</th>
              <th scope="col">F</th>
              <th scope="col">A</th>
              <th scope="col">Pts</th>
            </tr>
          </thead>
          <tbody>
          {% for pos in table %}
            <tr>
              <th scope="row">{{pos['pos']}}</th>
              <td>{{pos['team']}}</td>
              <td>{{pos['P']}}</td>
              <td>{{pos['W']}}</td>
              <td>{{pos['D']}}</td>
              <td>{{pos['L']}}</td>
              <td>{{pos['F']}}</td>
              <td>{{pos['A']}}</td>
              <td>{{pos['Pts']}}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        </div>
      </div>
      {% block newButton %}
        <div class="col">
        <a href={{url_for('new_team', comp_name  = comp.name)}} class="btn btn-success" role="button">Create New Team</a>
        </div>
      {% endblock %}
    </div>

  </div>
  </div>
{% endblock %}
