{% extends 'comps.html' %}

{% block main %}
<div class="card-body">
  <div class="row">
    <div class="col-4 offset-1">
      <h5 class="card-title">Divisions</h5>
      <div class="list-group list-group-flush">
        {% for d in comps %}
        <a href={{url_for("showTeams", comp_name = d.name)}} class="list-group-item list-group-item-action">{{d.name}}</a>
        {% endfor %}
      </div>
      </div>
      <div class="col-4">
        <h5 class="card-title">{{comp.name}} Teams</h5>
        <div class="list-group list-group-flush">
          {% for t in teams %}
          <a href={{url_for('showTeamDetails', comp_name = comp.name, team_name = t.name)}} class="list-group-item list-group-item-action">{{t.name}}</a>
          {% endfor %}
        </div>
      </div>
      {% block newButton %}
        <div class="col">
        <a href={{url_for('newTeam', comp_name  = comp.name)}} class="btn btn-success" role="button">Create New Team</a>
        </div>
      {% endblock %}
    </div>

  </div>
  </div>
{% endblock %}
