body {
  background: url('/static/sandro-schuh-80814-unsplash.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.card {
  margin-top: 4em;
}

.card-body {
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 2em;
  padding-right: 2em;
}

.alert ul{
	list-style: none;
}

.edit-buttons{
  margin-top:  2em;
  margin-left:  2em;
  margin-bottom:  1em;
}
