.container-fluid{
  background-image: url({{ url_for('static', filename='sandro-schuh-80814-unsplash.jpg') }});
}

.card {
  margin-top: 4em;
}

.card-body {
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 2em;
  padding-right: 2em;
}

.alert ul{
	list-style: none;
}
