{% extends 'divisions.html' %}
{% block main %}
<div class='card-header'>Add New Team</div>
<form action={{url_for('newTeam', division_name = division_name)}} method="post">
  <div class="form-row">
    <div class="form-group col-6">
      <label for="name">Name</label>
      <input type="text" class="form-control" name="name">
    </div>
    <div class="form-group col-6">
      <label for="nickname">Nickname</label>
      <input type="text" class="form-control" name="nickname">
    </div>
  </div>
  <div class='form-row'>
    <div class="form-group col-6">
      <label for='home'>Home</label>
      <input type="text" class="form-control" name="home">
    </div>
    <div class="form-group col-3">
      <label for="email">Email</label>
      <input type="email" class="form-control" name='email'>
    </div>
    <div class="form-group col-3">
      <label for="membership">Membership (€)</label>
      <input type="text" class="form-control" name="membership">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="division">Division</label>
      <select name="division" class='form-control'>
        {% for d in divisions %}
          <option value={{d.id}} {% if division_name == d.name %} selected {% endif %}>{{d.name}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group col-8">
      <label for="description">Description</label>
      <textarea class="form-control" name='description' rows='4'></textarea>
    </div>
  </div>
  <div class ='form-row'>
    <button type='submit' class='btn btn-primary'>Create</button>
    <a class='btn btn-primary' role='button' href = {{url_for('showTeams', division_name = division_name)}}>Cancel</a>
  </div>
</form>

{% endblock %}
