{% extends 'divisions.html' %}
{% block main %}
<div class='card-header bg-transparent'><strong>Add New Team</strong></div>
<div class='card-body pb-3'>
  <form action={{url_for('newTeam', division_name = division_name)}} method="post">
    <div class="form-row">
      <div class="form-group col-6">
        <label class='lead' for="name">Name</label>
        <input type="text" class="form-control" name="name">
      </div>
      <div class="form-group col-6">
        <label class='lead' for="nickname">Nickname</label>
        <input type="text" class="form-control" name="nickname">
      </div>
    </div>
    <div class='form-row'>
      <div class="form-group col-6">
        <label class='lead' for='home'>Home</label>
        <input type="text" class="form-control" name="home">
      </div>
      <div class="form-group col-3">
        <label class='lead' for="email">Email</label>
        <input type="email" class="form-control" name='email'>
      </div>
      <div class="form-group col-3">
        <label class='lead' for="membership">Membership (€)</label>
        <input type="text" class="form-control" name="membership">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-4">
        <label class='lead' for="division">Division</label>
        <select name="division" class='form-control'>
          {% for d in divisions %}
          <option value={{d.id}} {% if division_name == d.name %} selected {% endif %}>{{d.name}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group col-8">
        <label class='lead' for="description">Description</label>
        <textarea class="form-control" name='description' rows='4'></textarea>
      </div>
    </div>
    <div class='form-row'>
      <div class='form-group-col-1'>
        <button type='submit' class='btn btn-primary'>Create</button>
      </div>
      <div class='form-group-col-1'>
        <a class='btn btn-primary' role='button' href={{url_for('showTeams', division_name = division_name)}}>Cancel</a>
      </div>
    </div>
  </form>
</div>
{% endblock %}
