<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Amateur Football League</title>
  </head>
  <body>

    <!--MESSAGE FLASHING EXAMPLE -->
      {% with messages = get_flashed_messages() %}
      {% if messages %}

      <ul>
      {% for message in messages %}
      <li><strong>{{message}}</strong></li>
      {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
      <a href = {{url_for('showTeams', division_id = team.division_id)}}>Back to List Of Teams</a>
      </br>
      {{team.name}}</br>
      {{team.nickname}}</br>
      €{{team.membership}}</br>
      {{team.email}}</br>
      {{team.home}}</br>
      {{team.description}}</br>
      <a href={{url_for('editTeam',division_id = team.division_id, team_id = team.id)}}>Edit</a></br>
      <a href={{url_for('deleteTeam',division_id = team.division_id, team_id = team.id)}}>Delete</a></br>
      </br>
  </body>
</html>
