<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Amateur Football League</title>
  </head>
  <body>
    <!--MESSAGE FLASHING EXAMPLE -->
      {% with messages = get_flashed_messages() %}
      {% if messages %}

      <ul>
      {% for message in messages %}
      <li><strong>{{message}}</strong></li>
      {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
      <a href = {{url_for('showDivisions')}}>Back to List Of Divisions</a>
      </br>
      <a href={{url_for('newTeam', division_id  = division_id)}}>Create New Team</a></br></br>
        {% for t in teams %}
        {{t.name}}</br>
        {{t.nickname}}</br>
        €{{t.membership}}</br>
        {{t.email}}</br>
        <a href={{url_for('editTeam',division_id = t.division_id, team_id = t.id)}}>Edit</a></br>
        <a href={{url_for('deleteTeam',division_id = t.division_id, team_id = t.id)}}>Delete</a></br>
        </br>
      {% endfor %}

  </body>
</html>
